* {
  margin: 0;
  padding: 0;
  /* outline: 1px solid green; */
}

.success,
.error {
  color: white;
  padding: 5px;
  margin: 5px 0 15px;
}

.success{
  background-color: green;
}

.error {
  background-color: red;
}